<h1> Payment Details </h1>

<h2> Registrations </h2>
<ul>
    <li>
        Day 1 : <%- details.paidForRegDay1%>
    </li>
    <li>
        Day 2 : <%- details.paidForRegDay2%>
    </li>
    <li>
        Day 3 : <%- details.paidForRegDay3%>
    </li>
</ul>

<h2> Accomodation</h2>

<ul>
    <li>
        Day 0 : <%- details.paidForAccomodationDay0%>
    </li>
    <li>
        Day 1 : <%- details.paidForAccomodationDay1%>
    </li>
    <li>
        Day 2 : <%- details.paidForAccomodationDay2%>
    </li>
    <li>
        Day 3 : <%- details.paidForAccomodationDay3%>
    </li>
</ul>

<h2> Pro shows </h2>

<ul>
    <li>
        Day 1: <%- details.paidForProshow1%>
    </li>
    <li>
        Day 2: <%- details.paidForProshow2%>
    </li>
    <li>
        Day 3: <%- details.paidForProshow3%>
    </li>
</ul>